/* wow it's so good to be back */

.navbar {
	z-index = 10;
	position: sticky;
	display: inline-block;
}

.marker {
  background-image: url('marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}